<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DinaPriceScraper</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
      .dinaScraper{
        font-family: 'Montserrat', sans-serif;
      }
      {% include 'styles/menu.css' %}
      {% include 'styles/products.css' %}
    </style>
  </head>

  <body>
    <div class="dinaScraper">
      {% include 'menu.html' %}
      <div class="dinaScraperWebsiteList">
        <h3>Liste des sites :</h3>
        {% include 'products.html' %}
      </div>
    </div>
    <script>
      let coll = [
        document.getElementsByClassName("dinaScraperAmazonCollapse"),
        document.getElementsByClassName("dinaScraperDartyCollapse"),
        document.getElementsByClassName("dinaScraperRDCCollapse"),
        document.getElementsByClassName("dinaScraperFnacCollapse"),
        document.getElementsByClassName("dinaScraperRakutenCollapse"),
      ];
      let contents = [
        document.getElementsByClassName("dinaScraperAmazonProducts"),
        document.getElementsByClassName("dinaScraperDartyProducts"),
        document.getElementsByClassName("dinaScraperRDCProducts"),
        document.getElementsByClassName("dinaScraperFnacProducts"),
        document.getElementsByClassName("dinaScraperRakutenProducts"),
      ];

      for (let i = 0; i < coll.length; i++) {
        for (let y = 0; y < coll[0].length; y++) {
          coll[i][y].addEventListener("click", function () {
            this.classList.toggle("active");
            let content = contents[i][y];
            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            }
          });
        }
      }
    </script>
  </body>
</html>
