<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DinaPriceScraper</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

    .dinaScraper {
      font-family: 'Montserrat', sans-serif;
    }
      {% include 'styles/menu.css'%}

      {% include 'styles/products.css'%}
  </style>
</head>

<body>
  <div class="dinaScraper">
    {% include 'menu.html' %}
    <div class="dinaScraperWebsiteList">
      <h3>Liste des sites :</h3>
      {% include 'products.html' %}
    </div>
  </div>

  <table>
    <tr>
      <th>
        Nom du produit
      </th>
      <th>
        Prix
      </th>
      <th>
        Site
      </th>
      <th>
        Date
      </th>
      <th>
        Heure
      </th>
    </tr>
    {% for product in saved_products %}
    <tr>
      <td>
        {{product.0}}
      </td>
      <td>
        {{product.1}}
      </td>
      <td>
        <a href="{{product.2}}" target="_blank">Lien</a>
      </td>
      <td>
        {{product.3}}
      </td>
      <td>
        {{product.4}}
      </td>
    </tr>
    {% endfor %}
  </table>

  <script type="text/javascript">
    // Script pour avoir l'affichage des produits disponibles
    let coll = [
      document.getElementsByClassName("dinaScraperAmazonCollapse"),
      document.getElementsByClassName("dinaScraperDartyCollapse"),
      document.getElementsByClassName("dinaScraperRDCCollapse"),
      document.getElementsByClassName("dinaScraperFnacCollapse"),
      document.getElementsByClassName("dinaScraperRakutenCollapse"),
    ];
    let contents = [
      document.getElementsByClassName("dinaScraperAmazonProducts"),
      document.getElementsByClassName("dinaScraperDartyProducts"),
      document.getElementsByClassName("dinaScraperRDCProducts"),
      document.getElementsByClassName("dinaScraperFnacProducts"),
      document.getElementsByClassName("dinaScraperRakutenProducts"),
    ];

    for (let i = 0; i < coll.length; i++) {
      for (let y = 0; y < coll[0].length; y++) {
        coll[i][y].addEventListener("click", function () {
          this.classList.toggle("active");
          let content = contents[i][y];
          if (content.style.maxHeight) {
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
    }
  </script>
</body>
</html>
