<div class="dinaScraperTop">
  <div class="dinaPlanet1">{% include 'svg/WorldRayon.svg' %}</div>
  <div class="dinaMeteor1">{% include 'svg/meteor3.svg' %}</div>
  <div class="dinaMeteor2">{% include 'svg/meteor3(1).svg' %}</div>
  <div class="dinaMeteor3">{% include 'svg/meteor3(2).svg' %}</div>
  <div class="dinaStars">{% include 'svg/stars.svg' %}</div>
  <div class="dinaScraperMenu">
    <h1>DinaPriceScraper</h1>
    <div class="dinaScraperInputProduct">{% include 'form.html' %}</div>
  </div>
</div>
<div class="dinaScraperBar"></div>
